.CocktailImg {
  height: 200px;
  width: 190px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 227, 177);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.imgCocktail {
  height: 100%;
  width: 100%;
}
.imgBlast {
  height: 100%;
  width: 100%;
}
