.CartPage {
  background-color: rgb(201, 87, 187, 0.5);
  min-height: 100vh;
  height: 100%;
  &_content {
    padding: 20px;
  }
  &_header {
    color: #ffc871;
    font-size: 35px;
    text-shadow: 2px 2px #752091;
  }
}
